@model IEnumerable<ProyectoED2.Models.MensajesViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mensajes</title>
</head>
<body>
    @{
        string ruta = "http://localhost:61798/Mensajes/Index/" + GlobalData.para;
    }
    <a href=@ruta>Recargar</a>
    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Emisor)
                </td>
                @if (item.Archivo == false)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Cuerpo)
                    </td>
                }
                @if (item.Archivo == true)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreArchivo)
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Borrar", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    @if (item.Archivo == true)
                    {
                        @Html.ActionLink("Descargar", "Descargar_archivo", new { id=item.NombreArchivo })
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
    <form asp-controller="Mensajes" asp-action="NuevoMensaje" method="post">
        <div>

            <input type="text" name="texto" />
            <center><button type="submit">Enviar</button></center>

        </div>
    </form>
    <form asp-controller="Mensajes" asp-action="UploadFile" method="post" enctype="multipart/form-data">
        <div>

            <h5>Archivo: <input type="file" name="Archivo" /></h5>
            <center><button type="submit">Realizar acción</button></center>

        </div>
    </form>

</body>
</html>
